/* Import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

header {
  min-height: 80px;

  ul {
    li {
      .sub-menu {
        display: none;
        min-height: 200px;
      }

      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
}

.introduction-page {
  &::before {
    content: "";
    @apply absolute left-0 top-0 bg-black py-2 opacity-20 w-full h-full;
  }
}